torch==2.8.0
pandas==2.3.3
datasets==4.5.0
pytorch-lightning==2.6.0
transformers==4.57.6
torchvision==0.23.0
Pillow==11.3.0
numpy==2.0.2
packaging==26.0
matplotlib==3.9.4
umap-learn==0.5.11
scikit-learn==1.6.1
